body {
    margin:10px;
    background-color: #f0f0f0; 
    padding: 20px; 
    font-size: 20px; 
    color: #333; 
}
.container {
    text-align: center;
    box-shadow: 0 0 20px rgba(103, 207, 255, 0.774);
    background-color: rgb(208, 252, 255);
    width: 600px;
    margin: 10px auto;
    border: 8px solid rgba(103, 207, 255, 0.774);
    padding: 18px;
}
header {
    text-align: center;
    background-color: #19edfc;
    padding: 10px; 
    color: #fff; 
    font-size: 30px;
    margin: 10px; 
    color: rgb(0, 2, 7)

}
h1{
    font-size: 24px;
    margin: 10px; 
    color: rgb(16, 175, 224)
}
h2{
    text-align: center;
    font-size: 28px; 
    margin: 10px; 
    color: rgb(241, 89, 255)
}
h3{
    font-size: 24px; 
    margin: 10px; 
    color: rgb(18, 133, 240)
}
h4{
    font-size: 24px;
    margin:10px;
    color: rgba(63, 135, 243, 0.623)
}
p{
    font-size: 20px
}

.information {
    text-align: left;
}

.information ul {
    list-style-type: disc;
    margin: 0;
}

.information li {
    padding: 0 10px;
}
footer {
    text-align: center; 
    padding: 10px;
}
footer h2 {
    text-align: center;
    font-size: 28px;
    margin: 10px;
}
#showClock {
    text-align: center;
    font-size: 11px;
    color: #888;
}
.reference {
    margin: 8px 0;
    font-size: 12px;
}